<header>
    <div class="navbar bg-primary shadow-sm fixed-top">
        <a routerLink="/products"> <div class="navbar-brand align-item-center d-flex">
            <i  style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
            <strong style="font-size: 30px;">VegStore</strong>
            
        </div>
    </a>
        <div class="form-group align-items-center">
            <div><input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products" 
            >
            <i class="fas fa-search search-icon"></i>
        </div>
            
        </div>
        <div>
            <button class="btn btn-primary" routerLink="/cart">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div style=" padding-top: 2px; font-size: 10px; height: 20px; border-radius: 20px; width: 20px; float: right; margin-top: -5px; margin-left: -1px;  text-align: center;" class="bg bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </div>
</header>