.form-control{
    border-radius: 3px;
    margin-left: 20px;
    width: 600px;
}
.search-icon{
    position: absolute;
    float: right;
    color: blue;
    z-index: 10;
    top: 30px;
    right: 26%;
    color: blue;

}
a{
    color: black;
    text-decoration: none;
}