<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center" style="width: 25rem; height: 20rem; left:30%">
                <div class="text-center">
                    <h1>Loja de Produtos</h1>
                </div>
                <i class="fas fa-store" style="font-size: 80px;"></i>
                <div class="card-body">
                    <p class="card-text">Aqui você pode comprar nossos produtos de forma fácil!</p>
                    <button  routerLink="/products" class="btn btn-primary" > Vamos lá</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center" style="width: 25rem; height: 20rem; margin-left:250px;">
                <div class="text-center">
                    <h1>Dashboard</h1>
                </div>
                <i class="fas fa-columns" style="font-size: 80px;"></i>
                <div class="card-body">
                    <p class="card-text">Aqui você pode adicionar novos produtos ao sistema!</p>
                    <a routerLink="/fruit" class="btn btn-primary">Vamos lá</a>
                </div>
            </div>
        </div>
    </div>
</div>