.card-top {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    background: rgb(13, 110, 253);
    background: linear-gradient(180deg, rgb(13, 110, 253),  hsla(205, 35%, 49%, 1));  
    margin-top: 70px;
}

.item img {
    width: 100px;
    border-radius: 10px;
    
}
.item img:hover, a:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.item {
    margin: 10px 15px;
    text-align: center;
}

.item a:hover {
    color: #fff;
    cursor: pointer;
    

}

.card {
    padding: 20px;
    margin-top: 20px;
    margin-right: 0px;
    color: #fff;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(45deg, hsla(205, 46%, 30%, 0.6), hsla(260, 29%, 36%, 0.6) 100%, );
    
}
.card:first-of-type{
    margin-left: 80px;
}
.card:nth-of-type(2){
    margin-left: 80px;
 
 }

.card:nth-of-type(1n+3){
   margin-left: 80px;

}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

